body{
    background-color: #f2cecb;
}

.mm_logo{
    display: flex;
    justify-content: center;
}

.mmlogo{
    vertical-align: middle;
    width: 250px;
    height: 250px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa hover{
    opacity: 0.7;
}

.fa-facebook {
    background: #1856dd;
    color: white;
}

.fa-linkedin{
    background: #007bb5;
    color: white;
}

.fa-instagram{
    background: #954dbc;
    color: white;
}

