body{
    background-color: #f2cecb;
    padding: 20px;
    margin: 20px;
}

/*website logo css*/
.mm_logo{
    display: flex;
    justify-content: center;
}

.mmlogo{
    vertical-align: middle;
    width: 250px;
    height: 250px;
}

.motivation_def{
    background-color: white;
    text-align: center;
    padding: 20px;
    width: 500px;
    margin-left: 25%;
}

/*figure out media stuff for side navbar */