body{
    background-color: #f2cecb;
    padding: 20px;
    margin: 20px;
}

/*website logo css*/
.mm_logo{
    display: flex;
    justify-content: center;
}

.mmlogo{
    vertical-align: middle;
    width: 250px;
    height: 250px;
}

hr{
    border-top: 2px dotted gray;
    border-bottom-style: none;
    width: 45%;
}

.motivation_def{
    background-color: #ebe8e8;
    text-align: center;
    padding: 20px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.website_reason{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/*figure out media stuff for side navbar */